*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
:root{
	--c2: #FF5722;
}

body, html{
	overflow-x: hidden;
}

body{
}

a{
	color: inherit;
	text-decoration: none;
}

header{
	transition: .3s;
	height: 12vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.sticky{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100%;
	z-index: 5;
}

.sticky #hamburger div{
	background-color: black;
}

.sticky #brand label{
	color: black;

}

#brand{
	display: flex;
	align-items: center;
}

#brand svg{
	width: 40px;
	height: 40px;
	margin-right: 8px;
}

#brand label{
	font-weight: 600;
	font-size: 18px;
	color: white;
}

#hamburger{
	cursor: pointer;
}

#hamburger div{
	transition: .3s;
	width: 30px;
	height: 4px;
	background-color: white;
	margin-bottom: 3px;
}

.toggle .bar1{
	transform: rotate(-45deg) translate(-5px, 4px);
}

.toggle .bar2{
	opacity: 0;
}

.toggle .bar3{
	transform: rotate(45deg) translate(-5px, -4px)
}

.nav-ul{
	transition: .3s;
	position: absolute;
	top: 12vh;
	left: 0;
	height: 90vh;
	width: 100%;
	transform: translateX(100%);
	background-color: rgba(0,0,0,1);
}

.sticky .nav-ul{
	top: 10vh;
}

.nav-ul ul{
	margin-top: 3%;
	width: 100%;
	height: 90%;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.nav-ul li{
	font-weight: 600;
	font-size: 18px;
	color: white;
}


.nav-ul li:after{
	display: block;
	content: "";
	margin: 5px auto 0;
	border-bottom: solid 2px var(--c2);
	width: 60%;
	visibility: hidden;
}

.nav-ul li:hover:after{
	visibility: visible;
}

.nav-active{
	transform: translateX(0);
}

#hero{
	height: 100vh;
	width: 100%;
	background-color: black;
}
#hero:before{
	background-image: url(img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	position: absolute;
	opacity: 0.3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;

}

#hero{
	display: flex;
	align-items: center;
	color: white;
	justify-content: space-around;
}

#text{
	width: 700px;
	text-align: center;
	z-index: 3;
}

#boldtxt{
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 5vh;
}

#btn{
	color: white;
	padding: 10px 15px;
	background-color: var(--c2);
	border-radius: 5px;
}

#btn:hover{
	background-color: #ff764d;
}

#hero svg{
	width: 30px;
	height: 30px;
}

#prev, #next{
	cursor: pointer;
	z-index: 3;
}
@media screen and (max-width: 768px){
	#boldtxt{
		font-size: 35px;
	}

	#text{
		width: 70%;
	}

	#hero svg{
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 600px){
	#boldtxt{
		font-size: 20px;
	}

	#text{
		width: 60%;
	}

	#hero svg{
		width: 20px;
		height: 20px;
	}

	#btn{
		font-size: 12px;
	}
}

.servicesleft{
	width: 100%;
	min-height: 60vh;
	display: flex;
	align-items: center;
	position: relative;
}

.servicesright{
	width: 100%;
	min-height: 60vh;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	position: relative;
}

.left{
	width: 40%;
	margin-left: 10vw;
}

.right{
	width: 40%;
	margin-right: 10vw;
}

.serv-main{
	width: 60%;
	font-size: 30px;
	margin-bottom: 3vh;
}

.serv-main span{
	
	font-weight: 600;
}

.servbody{
	font-size: 15px;
	line-height: 200%;
	margin-bottom: 3vh;
}

.servlink{
	color: var(--c2);
	font-weight: 600;
}

.servlink:hover{
	text-decoration: underline;
}

#imgicon{
	width: 50%;
	margin-left: 5vw;
}

#imgicon img{
	width: 100%;
}

#img{
	width: 40%;
	margin-right: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 10px black;
	transform: translate(-10px, -10px);
}

#img img{
	margin: auto;
	width: 100%;
}

@media screen and (max-width: 1024px){
	.serv-main{
		width: 80%;
	}
}

@media screen and (max-width: 768px){
	.serv-main{
		width: 100%;
	}
}

@media screen and (max-width: 600px){
	.servicesleft, .servicesright{
		display: flex;
		flex-direction: column;
		padding: 5vh 0;
	}

	.left, .right{
		width: 90%;
		margin: auto;
		margin-bottom: 3vh;
	}

	#imgicon, #img{
		margin: auto;
		width: 90%;
		border: none;
	}

	#imgicon img, #img img{
		width: 100%;
	}

	#img{
		margin-top: 2vh;
	}

	.services-text{
		text-align: center;
	}
}

#teams{
	width: 100%;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5vh;
	position: relative;
	background-color: rgba(0,0,0,.8);
	color: white;
}

#teams:before{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	background-image: url(img/team.jpg);
	background-position: center;
	opacity: 1;
	z-index: -1;
}

#teams div{
	text-align: center;
}

#teams div .p{
	font-weight: 800;
	font-size: 20px;
	margin-bottom: 2vh;

}

#video-info{
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 2vh;
}

#teams div svg{
	margin: auto;
	width: 30px;
	height: 20px;
	fill: white;
	
}

#teams div div{
	margin: auto;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background-color: var(--c2);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#teams div div:hover{
	background-color: #ff764d;
}

@media screen and (max-width: 600px){
	#teams div .p{
		font-size: 14px;
	}

	#video-info{
		font-size: 8px;
	}
}

#about{
	width: 100%;
	text-align: center;
	padding-top: 5vh;
}

.ithead{
	
	font-weight: 600;
	font-size: 20px;

}

.normhead{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 2vh;
}

.mini-text{
	font-size: 10px;
	font-weight: 400;
	width: 50%;
	margin: auto;
	margin-bottom: 5vh;
}

#cards{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.prj{
	margin-bottom: 5vh;
	width: 23%;
	min-width: 250px;
	height: 400px;
	position: relative;
}

.prj img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.prj div{
	transition: .3s;
	position: absolute;
	top: 0%;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.5);
	color: white;
	opacity: 0;
}

.prj div label{
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 5px;
}


.prj div p{
	font-weight: 600;
	font-size: 10px;
	letter-spacing: 1px;
}

.prj:hover div{
	opacity: 1;
}

#reviews{
	padding-top: 5vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#reviews label{
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 2vh;
}

#reviews .mini-text{
	line-height: 200%;
}

#contact{
	width: 100%;
	display: flex;
	justify-content: space-around;
	color: white;
	padding: 5vh 0;
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

#ctxt{
	display: flex;
	flex-direction: column;
	width: 30%;
}

#ctxt h1{
	font-size: 30px;
	margin-bottom: 3vh;
}

#cmini, #fmini{
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 5vh;
}

.citem{
	display: flex;
	margin-bottom: 3vh;
}

.citem svg{
	transition: .3s;
	width: 20px;
	height: 20px;
	margin-right: 3vw;
	fill: white;
}

.citem div p{
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 5px;
	letter-spacing: .5px;
}

.citem svg:hover{
	transform: translateY(-20%);
}

#map{
	align-self: center;
	height: 100%;
	width: 400px;
}

#map img{
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 600px){
	#contact{
		flex-direction: column;
	}

	#ctxt{
		width: 80%;
		margin: auto;
		margin-bottom: 5vh;
	}
}

#form{
	width: 100%;
	text-align: center;
	padding: 5vh 0 10vh;
}

#form h1{
	font-size: 30px;
	margin-bottom: 1vh;
}

#fmini{
	width: 80%;
	margin: auto;
}

#modelform{
	margin: auto;
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 90%;
	margin-bottom: 5vh;
}

#modelform input{
	padding-bottom: 5px;
	border: none;
	border-bottom: solid 1px #ccc;
	margin: 0 0 5vh 0;
	width: 48%;
}

#modelform textarea{
	margin: 0 0 2vh 0;
	width: 100%;
	border: none;
	border-bottom: solid 1px #ccc;
}

#btndov button{
	padding: 10px 15px;
	background-color: var(--c2);
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#btndov button:hover{
	background-color: #ff764d;
}

#rss{
	width: 100%;
	background-color:#f4f4f4;
	text-align: center;
	padding: 10vh 0;
}

#rss h1{
	font-size: 30px;
	margin-bottom: 1vh;
}

#rss h1 span{
	
}

#rss p{
	font-size: 10px;
	font-weight: 400;
	width: 80%;
	margin: auto;
	margin-bottom: 3vh;
}

#rssmodel{
	padding: 3vh 0;
}

#rssmodel input{
	padding: 15px 15px;
	border-radius: 30px;
	border: none;
}

#rssmodel input[type='submit']{
	padding: 15px 30px;
	background-color: var(--c2);
	color: white;
	cursor: pointer;
}

#rssmodel input[type='submit']:hover{
	background-color: #ff764d;
}

#rssmodel input[type='email']{
	color: black;
	width: 60%;
	max-width: 300px;
	background-color: #e1e1e1;
	margin-right: 2vw;
	margin-bottom: 2vh;
}

footer{
	width: 100%;
	padding: 2vh 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

footer a{
	color: var(--c2);
}

footer a:hover{
	text-decoration: underline;
}

footer #brand label{
	color: black;
}

@media screen and (max-width: 600px){
	#rss h1{
	font-size: 30px;
	margin-bottom: 1vh;
	}
}

#brandsec{
	text-align: center;
}

#brandsec h1{
	font-size: 30px;
}

#brands{
	width: 90%;
	margin: auto;
	padding: 5vh 0 10vh;
	display: flex;
	justify-content: space-around;
}

#brands svg{
	transition: .3s;
	width: 50px;
	height: 50px;
}

#brands svg:hover{
	transform: translateY(-20%);
}

.swiper-container {
	  margin: auto;
      width: 90%;
      height: 40vh;
      margin-bottom: 3vh;
    }

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.swiper-slide .contn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 30vh;
  padding: 3vh 2vw;
  box-shadow: 0 5px 7px #00000029;
}

.contn img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 3vh;
}

.rcom{
  font-size: 10px;
  margin-bottom: 5px;
  line-height: 150%;
}

.rname{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.rpos{
  font-size: 10px;
  font-weight: 400;
}

.swiper-button-next, .swiper-button-prev{
  color: #FF5722;
}